*.ncb
*.psess
*.suo
*.user
*.vsp
Debug/*
Release/*
Test/*
*.res
*.manifest
*.ilk
*.pdb
*.obj
Dawn of Man_solution_goanna.checks
Dawn of Man_solution_goanna.options
*.db
*.ad
Archive/*
*.i
SLOC.png
Sounds/bald mountain.wav
Sounds/greensleeves.wav
Sounds/contrapunctus.wav
Sounds/twosteps.wav
Sounds/greenmountain.wav