*.ncb
*.psess
*.suo
*.user
*.vsp
Debug/*
Release/*
Test/*
*.res
*.manifest
*.ilk
*.pdb
*.obj
*.checks
*.options
*.db
*.ad
Archive/*
*.i
SLOC.png
Sounds/bald mountain.wav
Sounds/greensleeves.wav
Sounds/contrapunctus.wav
Sounds/twosteps.wav
Sounds/greenmountain.wav
Sounds/music.wav